<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label>Субъект РФ <span class="required">*</span></label>
			<input type="text" placeholder="Субъект РФ" name="region" class="form-control" ng-model="cac.address.region">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label>Город/Населенный пункт <span class="required">*</span></label>
			<input type="text" placeholder="Город/Населенный пункт" name="city" class="form-control" ng-model="cac.address.city">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label>Улица <span class="required">*</span></label>
			<input type="text" placeholder="Улица" name="street" class="form-control" ng-model="cac.address.street">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Дом <span class="required">*</span></label>
			<input type="text" placeholder="Дом" name="building" class="form-control" ng-model="cac.address.building">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Тип дома <span class="required">*</span></label>
			<input type="text" placeholder="Тип дома" name="building_type" class="form-control" ng-model="cac.address.buildingType">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Корпус</label>
			<input type="text" placeholder="Корпус" name="housing" class="form-control" ng-model="cac.address.housing">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Тип корпуса</label>
			<input type="text" placeholder="Тип корпуса" name="housing_type" class="form-control" ng-model="cac.address.housingType">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Квартира</label>
			<input type="text" placeholder="Квартира" name="flat" class="form-control" ng-model="cac.address.flat">
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
			<label>Тип квартиры</label>
			<input type="text" placeholder="Тип квартиры" name="flat_type" class="form-control" ng-model="cac.address.flatType">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label>Индекс <span class="required">*</span></label>
			<input type="text" placeholder="Индекс" name="zip" class="form-control" ng-model="cac.address.zip">
		</div>
	</div>
</div>
