<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group">
		
		<label>Гражданство:</label>
		<input type = 'text' class="hidden validate-require" ng-bind = 'vm.person.citizenship' name = 'citizenship'>
		<selectize config='vm.citizenship_config' options='vm.citizenships' ng-model="vm.person.citizenship"></selectize>
		

		<!-- <select class="form-control" ng-model = 'vm.person.citizenship' name="citizenshipCode">
			<option ng-repeat = "citizenship in vm.citizenships" value = "{{citizenship.id}}" ng-bind = "citizenship.name">
			</option>
		</select> -->
	</div>


	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group" ng-if="vm.person.citizenship == 'foreigner'">
		<label>Выберите государство:</label>
		<input type = 'text' class="hidden validate-require" ng-bind = 'vm.person.country' name = 'country'>
		<selectize config='vm.countries_config' options='vm.countries' ng-model="vm.person.country"></selectize>		
		<!-- <select class="form-control" ng-model = 'vm.person.country' name="country">
			<option ng-repeat = "country in vm.countries" value = "{{country.id}}" ng-bind = "country.name"></option>
		</select> -->
	</div>
</div>
