<h4>Выберите способ получения документов:</h4>
<div class="form-group">
	<div>
		<label>
			<input type="radio" name="doc_delivery" ng-model="ie.doc_delivery" value="1"/> Выдать документы заявителю лично
		</label>
	</div>
	<div>
		<label>
			<input type="radio" name="doc_delivery" ng-model="ie.doc_delivery" value="2"/> Выдать документы заявителю или лицу, действующему на основании доверенности
		</label>
	</div>
	<div>
		<label>
			<input type="radio" name="doc_delivery" ng-model="ie.doc_delivery" value="3"/> Направить документы по почте
		</label>
	</div>
</div>