<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>
				Упрощенная система налогообложения (УСН) в связи с ее простотой и небольшими налогами является наилучшим вариантом для начинающих предпринимателей. При выборе УСН в итоговый комплект документов автоматически будет включено заявление о переходе на УСН.
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Основной режим налогообложения</h3>
		<div class="form-group">
			<div>
				<label><input type="radio" name="taxMode" ng-model="tc.subject.tax_data.taxMode" value="1"> Общий режим налогообложения</label>
				<p>Базовая система налогообложения, применяемая «по умолчанию». Предусматривает уплату всех определенных действующим законодательством налогов и строгое документирование деятельности и отчетности. В то же время, несмотря на большее, чем при УСН и ЕСХН налоговое бремя и объем документооборота, предоставляет несоизмеримо большие возможности для бизнеса.</p>
			</div>

			<div>
				<label><input type="radio" name="taxMode" ng-model="tc.subject.tax_data.taxMode" value="2"> Упрощенная система налогообложения (УСН)</label>
				<p>Добровольный специальный налоговый режим для малого бизнеса, позволяющий существенно уменьшить количество уплачиваемых налогов и упростить документирование деятельности (Глава 26.2 НК РФ). Часто используется совместно с ЕНВД (единый налог на вмененный доход) — обязательным режимом налогообложения для организаций, осуществляющих определенные виды деятельности. Налоговые ставки: 6% (на доходы) и 5-15% (доходы за вычетом расходов). Для перехода на УСН нужно подать заявление в налоговый орган по месту нахождения.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="tc.subject.tax_data.taxMode == 2">
	<div class="col-md-12">	
		<h3>Объект налогобложения</h3>
		<div class="form-group">
			<div>
				<label><input type="radio" name="taxType" ng-model="tc.subject.tax_data.taxType" value="1"> 6% от дохода</label>
				<p>ООО (или ИП) уплачивает 6% от общей величины доходов. Если ООО (или ИП) по итогам периода не оказалось в убытке, полученная сумма уменьшается на страховые взносы и больничные (выданные за счет организации). Причем уменьшение не должно превысить 50% от суммы подлежащего уплате налога, если есть наемные работники, если наемных работников нет — 100% от суммы подлежащего уплате налога.</p>
			</div>

			<div>
				<label><input type="radio" name="taxType" ng-model="tc.subject.tax_data.taxType" value="2"> Доходы минус расходы</label>
				<p>ООО (или ИП) уплачивает 15%, если объектом налогообложения являются доходы, уменьшенные на величину расходов. Однако законами субъектов Российской Федерации могут быть установлены дифференцированные налоговые ставки в пределах от 5 до 15% в зависимости от категорий налогоплательщиков.</p>
			</div>
		</div>

		<h3>Способ подачи заявления</h3>
		<div class="form-group">
			<div>
				<label><input type="radio" name="taxPayer" ng-model="tc.subject.tax_data.taxPayer" value="1"> Налогоплательщик</label>
			</div>

			<div>
				<label><input type="radio" name="taxPayer" ng-model="tc.subject.tax_data.taxPayer" value="2"> Представитель налогоплательщика</label>
			</div>
		</div>		
	</div>	
</div>
