<div ng-controller="menu_controller as vm">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a ui-sref="landing"><i class="fa fa-home"></i></a></li>
					<li><a ui-sref="register_ie">Регистрация ИП</a></li>
					<li><a ui-sref="register_llc">Регистрация ООО</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="vm.status == 'unknown'">						
						<button ui-sref="login" class="btn btn-success">Авторизация</button>
						<button class="btn btn-default" ng-click="vm.open_login_modal()">Вход</button>
					</li>
					<li ng-if="vm.status == 'authorized'">
						<button ui-sref="profile" class="btn btn-success">Личный кабинет</button>
					</li>
					<li ng-if="vm.status == 'authorized'">
						<a href = 'javascript:void(0)'ng-click = "vm.logout()">Выход <i class="fa fa-sign-out"></i></a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</div>

